* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

.card {
  width: 40%;
  height: 40%;
  background-color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 60px;
  box-shadow: 20px 20px 40px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 6px;
}
